<div class="election-time" {{didInsert this.onDidInsert}}>
  {{! Set open time to x hours after x nominations }}
  <div class="election-time-control">
    <div class="election-time-control-title">
      <Input @type="checkbox" @checked={{this.after}} {{on "change" this.onAfterClicked}} />
      <span>{{i18n this.afterTitle}}</span>
    </div>

    <div>
      <span> {{i18n "election.set_time.hours"}}</span>
      <Input @type="number" @value={{this.hours}} placeholder="0" class="input-small" {{on "input"
        this.sendElectionTime}} />
    </div>

    <div id="set_time-nominations">
      {{#if this.showNominations}}
      <span>{{i18n "election.set_time.nominations"}}</span>
      <Input @type="number" @value={{this.nominations}} placeholder="0" class="input-small" {{on "input"
        this.sendElectionTime}} />
      {{/if}}
    </div>

    <div id="set_time-voters">
      {{#if this.showVoters}}
      <span>{{i18n "election.set_time.voters"}}</span>
      <Input @type="number" @value={{this.voters}} placeholder="" class="input-small" {{on "input"
        this.sendElectionTime}} />
      {{/if}}
    </div>
  </div>

  {{! Set open time manually }}
  <div class="election-time-control">
    <div class="election-time-control-title">
      <Input @type="checkbox" @checked={{this.manual}} {{on "change" this.onManualClicked}} />
      <span>{{i18n this.manualTitle}}</span>
    </div>

    <SetElectionTime @dateTime={{this.time}} @timeElementId={{this.timeId}} @dateElementId={{this.dateId}}
      @disabled={{this.after}} @setTime={{this.setTime}} />
  </div>

  <div class="election-description">
    {{i18n "election.poll.criteria" action=this.type}}
    <ul>
      {{#each this.criteria as |c|}}
      <li>{{c}}</li>
      {{/each}}
    </ul>
  </div>
</div>