<div class="election-time">
  <div class="election-time-control">
    <div class="election-time-control-title">
      <input
        type="checkbox"
        checked={{this.after}}
        {{on "change" (fn (mut this.after) this.checked)}}
      />
      <span>{{i18n this.afterTitle}}</span>
    </div>

    <div>
      <span> {{i18n "election.set_time.hours"}}</span>
      <Input
        @type="number"
        value={{this.hoursInitial}}
        placeholder="0"
        class="input-small"
        {{on "input" (fn (mut this.hours) this.value)}}
      />
    </div>

    <div id="set_time-nominations">
      {{#if this.showNominations}}
        <span>{{i18n "election.set_time.nominations"}}</span>
        <Input
          @type="number"
          @value={{this.nominationsInitial}}
          placeholder="0"
          class="input-small"
          {{on "input" (fn (mut this.nominations) this.value)}}
        />
      {{/if}}
    </div>

    <div id="set_time-voters">
      {{#if this.showVoters}}
        <span>{{i18n "election.set_time.voters"}}</span>
        <input
          type="number"
          placeholder="0"
          value={{this.voters}}
          class="input-small"
          {{on "input" (fn (mut this.voters) this.value)}}
        />
      {{/if}}
    </div>
  </div>

  <div class="election-time-control">
    <div class="election-time-control-title">
      <input
        type="checkbox"
        checked={{this.manual}}
        {{on "change" (fn (mut this.manual) this.checked)}}
      />
      <span>{{i18n this.manualTitle}}</span>
    </div>

    <SetElectionTime
      @dateTime={{this.time}}
      @timeElementId={{this.timeId}}
      @dateElementId={{this.dateId}}
      @disabled={{this.after}}
      @setTime={{this.setTime}}
    />
  </div>

  <div class="election-description">
    {{i18n "election.poll.criteria" action=this.type}}
    <ul>
      {{#each this.criteria as |c|}}
        <li>{{c}}</li>
      {{/each}}
    </ul>
  </div>
</div>