<div class="date-time-card" {{didInsert this.setup}}>
  {{#if this.disabled}}
    <div class="disabled"></div>
  {{/if}}
  <div class="modal-date-time-set">
    <div class="modal-date-area">
      <label class="input-group-label">
        {{i18n "election.set_time.date"}}
      </label>
      <DatePicker
        @value={{this.date}}
        @containerId={{@dateElementId}}
        {{!-- {{on "change" (fn (mut this.date) this.value)}} --}}
      />
    </div>
    <div class="modal-time-area">
      <label class="input-group-label">
        {{i18n "election.set_time.time"}}
      </label>
      <input
        type="time"
        id={{@timeElementId}}
        {{!-- {{on "change" (fn (mut this.time) this.value)}} --}}
      />
    </div>
  </div>
  <div id={{this.dateElementId}}></div>
</div>