<div class="date-time-card">
  {{#if this.disabled}}
    <div class="disabled"></div>
  {{/if}}
  <div class="modal-date-time-set">
    <div class="modal-date-area">
      <label class="input-group-label">
        {{i18n "election.set_time.date"}}
      </label>
      <DatePicker @value={{this.date}} @containerId={{this.dateElementId}} />
    </div>
    <div class="modal-time-area">
      <label class="input-group-label">
        {{i18n "election.set_time.time"}}
      </label>
      <input type="text" id={{this.timeElementId}} />
    </div>
  </div>
  <div id={{this.dateElementId}}></div>
</div>
